<p id="notice"><%= notice %></p>



<div class="row">
  <div class="col-lg-8" style="background:gray; display:inline-block; width:65%; vertical-align:top;">
    <% @articles.each do |article| %>
    
      <%= link_to article.title, article %>
      
      <p><%= article.user.username %></p>
      <hr />
    
    <% end %>
    <%= link_to 'New Article', new_article_path %>
  </div> 
  
   <div class="col-lg-4" style="background:lightgray; display:inline-block; width:34%; vertical-align:top;">
    
    <div>
        <h2>Recente Posts</h2> 
        <% @articles.each do |a| %>
   
        <p><%= link_to a.title, a %></p> 
       -- <%= a.user.username %> -- : 
        <%= truncate(a.body) %>
        <% end %>
    </div>
    
   
   
    
   
  </div> 
</div>

<br>



