

<p style="font-size:3em;">
  <strong><%= @article.title %></strong>
  
</p>
<p>
  By : <strong><%= @article.user.username %></strong>
</p>
<p style="background:#f4ebeb; padding:15px;">
  
  <%= @article.body %>
</p>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

<%= render @article.comments %>



<p>Make a comment.</p>
<%= render 'comments/form' %>
